<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'style.css' %}" type="text/CSS">
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <style>
      p{
        color: #90303d;
        font-family: Raleway;
        font-size: 60px;
        text-align: center;
      }
      .flex-container {
        display: flex;
        height: 800px;
        width: 1000px;
        background-color:hsla(0, 100%, 30%, 0.3);
        border-radius: 20px;
      }
    </style>
    {% if user.is_authenticated %}
      <title>Welcome, {{ request.user }}!</title>
    {% else %}
      <title>Welcome, User!</title>
    {% endif %}

</head>
<body>
    <br><br><br><br><br><br>
    {% if user.is_authenticated %}
    <h1 class="welcome" id="welcome">Welcome, {{ request.user.username }}.</h1>
      <div class="flex-container">
        <p>
        Name: {{ request.user.first_name }} {{ request.user.last_name }}
        <br>
        Email: {{ request.user.email }}
        <br><br>
        <img src="{{user.profile.profileImage}}" class="img-fluid">
        </p>
      </div>
      <br>
    <a href="logout"><button type="submit" class="button button2" id="logOut">Log Out</button></a>
    {% else %}
    <br><br><br><br><br><br><br>
    <h1 class="welcome" id="welcome">Welcome, User.</h1>
    <a href="login"><button type="submit" class="button button2" id="logIn">Log In</button></a>
    <a href="signup"><button type="submit" class="button button2" id="signUp">Sign Up</button></a>
    {% endif %}

    <script src="http://code.jquery.com/jquery-3.5.0.js" integrity="sha256-r/AaFHrszJtwpe+tHyNi/XCfMxYpbsRg2Uqn0x3s2zc=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>