<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'style.css' %}" type="text/CSS">
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <title>Login</title>
</head>
<body>
    <br><br><br><br><br><br>
    <h1 class="welcome" id="welcome" style="font-size: 70px;">Hi, User.</h1>
    <h1 class="welcome" id="welcome" style="font-size: 70px;">Please Login</h1>
    <br>
    <div class="login-form" style="text-align: center; ">
        <div class="flex-container">
            <form method="POST">
                {% csrf_token %}
                <div class="box"></div>
                <div class="form-group">
                    <h1 class="invalid">{{message}}</h1>
                    <input type="text" class="form-control" id="username" name="username" maxlength="40" placeholder="Username" style="width: 100%; font-size: 25px; font-family: Raleway;">
                    <br>
                    <input type="password" class="form-control" id="password" name="password" maxlength="40" placeholder="Password" style="width: 100%; font-size: 25px; font-family: Raleway;">
                    <br>
                    <button type="submit" class="button button2" id="logIn" name="logIn">Log In</button>
                    <br>
                    <div>-- OR --</div>
                    <a href="signup" class="button button2" id="signUp">Sign Up</a>
                </div>
              </form>
        </div>
    </div>
    
    <script src="http://code.jquery.com/jquery-3.5.0.js" integrity="sha256-r/AaFHrszJtwpe+tHyNi/XCfMxYpbsRg2Uqn0x3s2zc=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>