html, body{
    width:100%;
    height:100%;
    background-color: #f4dada;
    text-align: center;
    
}

.welcome{
    color: #90303d;
    font-family: Raleway;
    font-size: 100px;
    text-align: center;
}

.invalid{
    font-size: 25px; 
    font-family: Raleway;
}
input{
    font-size: 25px; 
    font-family: Raleway;
    width: 400px;
    margin-left: auto; 
    margin-right: auto;

}

ul li {
    text-align: left;
    margin-left: 65px;
}

span{
    padding-right: 10px;

}

label{
    width: 100%; 
    font-size: 25px; 
    font-family: Raleway;
}

.button {
    background-color: #90303d; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 20px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
  }

.button2:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 400px;
    background-color:hsla(0, 100%, 30%, 0.3);
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
  }

.flex-container2 {
    display: flex;
    /* align-items: center; */
    /* height: 1000px; */
    width: 1000px;
    background-color:hsla(0, 100%, 30%, 0.3);
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
  }

